:root {
  color-scheme: light;
  --theme-font-h: 30;
  --theme-font-s: 12%;
  --theme-font-l: 14%;
  --theme-font-a: 0.88;
  --theme-font-complement-h: 42;
  --theme-font-complement-s: 24%;
  --theme-font-complement-l: 98%;
  --theme-font-complement-a: 1;
  --theme-font-contrast-light-h: 42;
  --theme-font-contrast-light-s: 24%;
  --theme-font-contrast-light-l: 98%;
  --theme-font-contrast-light-a: 1;
  --theme-font-contrast-dark-h: 30;
  --theme-font-contrast-dark-s: 12%;
  --theme-font-contrast-dark-l: 12%;
  --theme-font-contrast-dark-a: 0.9;
  --theme-font-minor-h: 30;
  --theme-font-minor-s: 8%;
  --theme-font-minor-l: 28%;
  --theme-font-minor-a: 0.5;
  --theme-font-placeholder-h: 30;
  --theme-font-placeholder-s: 6%;
  --theme-font-placeholder-l: 38%;
  --theme-font-placeholder-a: 0.35;
  --theme-bg-h: 40;
  --theme-bg-s: 14%;
  --theme-bg-l: 98%;
  --theme-bg-a: 1;
  --theme-bg-compliment-h: 30;
  --theme-bg-compliment-s: 12%;
  --theme-bg-compliment-l: 14%;
  --theme-bg-compliment-a: 0.88;
  --theme-bg-minor-h: 38;
  --theme-bg-minor-s: 10%;
  --theme-bg-minor-l: 95%;
  --theme-bg-minor-a: 1;
  --theme-bg-minor-compliment-h: 30;
  --theme-bg-minor-compliment-s: 12%;
  --theme-bg-minor-compliment-l: 14%;
  --theme-bg-minor-compliment-a: 0.88;
  --theme-bg-root-h: 38;
  --theme-bg-root-s: 8%;
  --theme-bg-root-l: 92%;
  --theme-bg-root-a: 1;
  --theme-bg-disabled-h: 38;
  --theme-bg-disabled-s: 6%;
  --theme-bg-disabled-l: 86%;
  --theme-bg-disabled-a: 1;
  --theme-bg-disabled-compliment-h: 30;
  --theme-bg-disabled-compliment-s: 8%;
  --theme-bg-disabled-compliment-l: 24%;
  --theme-bg-disabled-compliment-a: 0.56;
  --theme-bg-highlight-h: 44;
  --theme-bg-highlight-s: 72%;
  --theme-bg-highlight-l: 66%;
  --theme-bg-highlight-a: 1;
  --theme-bg-highlight-compliment-h: 30;
  --theme-bg-highlight-compliment-s: 18%;
  --theme-bg-highlight-compliment-l: 14%;
  --theme-bg-highlight-compliment-a: 0.9;
  --theme-bg-admin-h: 324;
  --theme-bg-admin-s: 24%;
  --theme-bg-admin-l: 95%;
  --theme-bg-admin-a: 1;
  --theme-bg-admin-compliment-h: 322;
  --theme-bg-admin-compliment-s: 14%;
  --theme-bg-admin-compliment-l: 22%;
  --theme-bg-admin-compliment-a: 0.9;
  --theme-bg-admin-button-h: 320;
  --theme-bg-admin-button-s: 34%;
  --theme-bg-admin-button-l: 78%;
  --theme-bg-admin-button-a: 1;
  --theme-bg-admin-button-compliment-h: 324;
  --theme-bg-admin-button-compliment-s: 16%;
  --theme-bg-admin-button-compliment-l: 22%;
  --theme-bg-admin-button-compliment-a: 0.94;
  --theme-border-color-h: 36;
  --theme-border-color-s: 8%;
  --theme-border-color-l: 74%;
  --theme-border-color-a: 1;
  --theme-scrollbar-track: hsla(36, 8%, 86%, 1);
  --theme-scrollbar-corner: hsla(40, 14%, 98%, 1);
  --theme-scrollbar-thumb: hsla(36, 8%, 70%, 1);
}

:root[data-theme='dark'] {
  color-scheme: dark;
  --theme-font-h: 42;
  --theme-font-s: 20%;
  --theme-font-l: 94%;
  --theme-font-a: 0.9;
  --theme-font-complement-h: 30;
  --theme-font-complement-s: 12%;
  --theme-font-complement-l: 12%;
  --theme-font-complement-a: 1;
  --theme-font-contrast-light-h: 42;
  --theme-font-contrast-light-s: 20%;
  --theme-font-contrast-light-l: 97%;
  --theme-font-contrast-light-a: 1;
  --theme-font-contrast-dark-h: 30;
  --theme-font-contrast-dark-s: 12%;
  --theme-font-contrast-dark-l: 8%;
  --theme-font-contrast-dark-a: 0.92;
  --theme-font-minor-h: 42;
  --theme-font-minor-s: 10%;
  --theme-font-minor-l: 80%;
  --theme-font-minor-a: 0.66;
  --theme-font-placeholder-h: 42;
  --theme-font-placeholder-s: 8%;
  --theme-font-placeholder-l: 74%;
  --theme-font-placeholder-a: 0.42;
  --theme-bg-h: 34;
  --theme-bg-s: 8%;
  --theme-bg-l: 16%;
  --theme-bg-a: 1;
  --theme-bg-compliment-h: 42;
  --theme-bg-compliment-s: 20%;
  --theme-bg-compliment-l: 94%;
  --theme-bg-compliment-a: 0.9;
  --theme-bg-minor-h: 34;
  --theme-bg-minor-s: 8%;
  --theme-bg-minor-l: 20%;
  --theme-bg-minor-a: 1;
  --theme-bg-minor-compliment-h: 42;
  --theme-bg-minor-compliment-s: 18%;
  --theme-bg-minor-compliment-l: 94%;
  --theme-bg-minor-compliment-a: 0.9;
  --theme-bg-root-h: 34;
  --theme-bg-root-s: 10%;
  --theme-bg-root-l: 10%;
  --theme-bg-root-a: 1;
  --theme-bg-disabled-h: 34;
  --theme-bg-disabled-s: 6%;
  --theme-bg-disabled-l: 25%;
  --theme-bg-disabled-a: 1;
  --theme-bg-disabled-compliment-h: 42;
  --theme-bg-disabled-compliment-s: 10%;
  --theme-bg-disabled-compliment-l: 84%;
  --theme-bg-disabled-compliment-a: 0.62;
  --theme-bg-highlight-h: 44;
  --theme-bg-highlight-s: 62%;
  --theme-bg-highlight-l: 54%;
  --theme-bg-highlight-a: 1;
  --theme-bg-highlight-compliment-h: 30;
  --theme-bg-highlight-compliment-s: 18%;
  --theme-bg-highlight-compliment-l: 10%;
  --theme-bg-highlight-compliment-a: 1;
  --theme-bg-admin-h: 322;
  --theme-bg-admin-s: 18%;
  --theme-bg-admin-l: 36%;
  --theme-bg-admin-a: 0.92;
  --theme-bg-admin-compliment-h: 324;
  --theme-bg-admin-compliment-s: 14%;
  --theme-bg-admin-compliment-l: 95%;
  --theme-bg-admin-compliment-a: 0.9;
  --theme-bg-admin-button-h: 320;
  --theme-bg-admin-button-s: 28%;
  --theme-bg-admin-button-l: 56%;
  --theme-bg-admin-button-a: 0.96;
  --theme-bg-admin-button-compliment-h: 322;
  --theme-bg-admin-button-compliment-s: 14%;
  --theme-bg-admin-button-compliment-l: 96%;
  --theme-bg-admin-button-compliment-a: 0.92;
  --theme-border-color-h: 34;
  --theme-border-color-s: 6%;
  --theme-border-color-l: 34%;
  --theme-border-color-a: 1;
  --theme-scrollbar-track: hsla(34, 8%, 18%, 1);
  --theme-scrollbar-corner: hsla(34, 10%, 10%, 1);
  --theme-scrollbar-thumb: hsla(34, 6%, 34%, 1);
}

html {
  height: 100%;
  font-size: 16px;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif; /* overwritten in index.ts */
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
html,
div,
input,
textarea,
button,
i {
  line-height: 1.32em;
  box-sizing: border-box;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*::-webkit-scrollbar {
  width: 13px;
  background-color: var(--theme-scrollbar-track);
}
*::-webkit-scrollbar-corner {
  background-color: var(--theme-scrollbar-corner);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--theme-scrollbar-thumb);
}
*:focus-visible {
  outline: none;
}
#root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  height: 100%;
  white-space: pre-wrap;
}
textarea,
input {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  border-radius: 0;
  color: inherit;
  background: none;
  text-align: inherit;
  border: none;
  outline: none;
  box-shadow: none;
  resize: none;
}
p,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.32em;
}
img {
  max-width: 100%;
}
p {
  font-size: 16px;
}
h1 {
  font-size: 55px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 13px;
}
h6 {
  font-size: 10px;
}
p:not(:last-child) {
  margin-bottom: 10px;
}
