PORT="5000"
APP_NAME="Marlow Street"
URL_CLIENT="http://localhost:3000"
MONGODB_URI="mongodb://127.0.0.1:27017"
MONGODB_DB="frisbee-211221"
JWT_SECRET="SuperSecret123"
SES_ACCESS_KEY_ID=""
SES_SECRET_ACCESS_KEY=""
SES_REGION="us-east-1"
SES_FROM_EMAIL=""
RESTRICTED_TEAM_ID=""
